body { counter-reset: hbody;}
p {text-indent: 32px; font-size: 16px; }
li {font-size: 16px; } /*列表样式*/
pre { font-size: 16px; } /*列表样式*/
/**
 * 然后父标题初始化子标题的计数，下面以此类推。
 */
h1 { counter-reset: h1; font-size: 24px; text-align: center; font-weight: bold;} /*标题*/
h2 { counter-reset: h2; font-size: 24px; font-weight: bold;}
h3 { counter-reset: h3; font-size: 20px; font-weight: bold;}
h4 { counter-reset: h4; font-size: 18px; font-weight: bold;}
h5 { counter-reset: h5; font-size: 18px; font-weight: bold;}
/**
 * 接着在每个标题前面自动加上编号
 *
 * 如果不想从 h1 开始自动编号，而是把 h1 当成文章题目，从 h2 开始自动编号，那么
 * 1. 把 h1:before 注释
 * 2. 从 h2:before 开始到 h6:before，把编号开头的 counter(hbody) "." 这一部分删除
h1:before {
  counter-increment: hbody;
  content: counter(hbody) ". ";
} */
h2:before {
  counter-increment: h1;
  content: counter(h1) " ";
}
h3:before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) " ";
}
h4:before {
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) " ";
}
h5:before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
}
h6:before {
  counter-increment: h5;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}

